#cloud-config
users:
  - name: ${user}
    gecos: ${title(user)} User
    primary_group: ${user}
    groups: users,admin,wheel
    lock_passwd: true
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_authorized_keys: 
      - ${ssh_key}
